<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<parameter name="url" value="https://www.amazon.in" />

	<test thread-count="5" name="CartVerification-chrome">
		<parameter name="browser" value="firefox" />
		<parameter name="ewaitTime" value="10" />
		<parameter name="iwaitTime" value="10" />
		<!-- Specify Browser for a test -->
		<!--<parameter name="browser" value="chrome"/> -->
		<classes>
			<class name="test.AmzCartVerification" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
